.home-slider {
    position: relative;
    overflow: hidden;
 
    .overlay{
        // background: rgba(70, 73, 83, 0.5);
        position: absolute;
        top: 0;
        left: 0;
        width:100%;
        height: 100%;
        z-index: 6;
    }
    .slider{
      justify-content: center;
      align-items: center;
      text-align: center;
      color:white;
      font-weight: bold;
      font-size: 30px;
      z-index: 77;
      position: absolute;
      left: 25%;
      top:41%
     
    }
  
  }
 
  .scroll-down {
    width: 34px;
    height: 55px;
    position: absolute;
    bottom: 50px;
    left: 45%;
    top: 80%;
    transform: translatex(-50%);
    cursor: pointer;
    z-index: 2;
  
    a {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 100%;
      display: block;
      z-index: 1;
    }
  
    .mousey {
      width: 3px;
      height: 35px;
      padding: 10px 15px;
      box-sizing: content-box;
      border: 2px solid rgb(241, 237, 237);
      border-radius: 25px;
      opacity: 0.75;
  
      .scroller {
        width: 3px;
        height: 10px;
        border-radius: 25%;
        background-color: transparent;
        animation: scroll 2.2s infinite;
        padding: 6px 2px;
        border: 1px solid rgb(241, 237, 237);
  
      }
    }
  }

  // .owl-theme .owl-nav [class*=owl-]{display:none}
  @keyframes scroll {
    0% {
      opacity: 0;
      transform: translate(-1px, 0);
    }
  
    10% {
      transform: translate(-1px, 0);
      opacity: 1;
    }
  
    100% {
      transform: translate(-1px, 15px);
      opacity: 0;
    }
  }
   mat-form-field{width: 79%;}
  input,textarea{
    border-bottom: 1px solid rgb(194, 194, 194);
   
  }
  .btn{
    border:none;
    outline:none;
    background:rgb(145, 145, 246);
    color:white;
    // width:30%
  }
  h5{color: rgb(123, 123, 248);text-align: center;font-size: 20px;}
  h4,p{color: rgb(116, 116, 245);}
 
    input[type="file"] {
      display: none;
  }
  .custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    width: 79%;
    text-align: center;
    color:gray;

}
.card{margin: 0 17%;}
.navPagination{
 
  color: white;
}
.navPagination li{cursor: pointer; background-color:rgb(97, 97, 243) !important;
  padding: 12px;box-shadow: 0px 0px 20px rgb(82, 81, 81);
}
@media (max-width: 767px ){/* mobile & tablet*/
  .home-slider {
   .slider{
    font-size: 18px;
    left: 11%;
  }
  .scroll-down{
    top: 59%;
    left: 44%;
    width: 7px;
    .mousey{
      height:20px;
      width:1px
    }
  }
 
  }
  .card{margin:0 !important;}

    
}
@media (min-width: 768px) and (max-width:991px){ /* small screen */

}
@media (min-width: 992px) and (max-width:1199px) { /* medium screen */
}